<div class="directory">
<h2>Directory</h2> 
<br/>

<h3 id="search">Search by Department Name:</h3>
<div id="search-box" style="display:none">
       <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="6AA2989D71C1603E9EE075EF561F31FD" selected>Academic Affairs, Office of the Executive VP and  Provost<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="63E6C5D28E15A063C3C8860641562C4B">Administrative Affairs, Office of the Associate Vice President<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C5CEDF7CBE822ACA6ED96C6F17040053">Advancement, Division of <br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="ED2F07B896A39F5E427165941EC4D087">Africana Studies<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="ED4DE8908EB87D65DB7281413BCB358E">Alcohol and Other Drug Programs and Services<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="8F233396D7BFA9D68CF02E2F4E2BC042">Anderson Center for the Performing Arts<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="E5B0D88B2404334F898FF0C1A3E8A6FC">Anthropology<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="B11859C446AFA7703774DA2CBF57C41E">Art History<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="4E91DB9EA4511FB68DDAAA70C9380842">Art Museum<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="43C047C2E7D0963EE4CFE43AE2F3C739">Auxiliary Services<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="53D694CE2CF94A95039660A0CFE4D6C9">Binghamton Foundation<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="F2058B2CAA68D0322920F03E928A0652">Binghamton Sound, Staging and Lighting<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="BD857DFCC979D2DE30486CD03029541B">Binghamton University Scholars Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="38FAAD763650707918CF73D80C15C228">Biochemistry Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="A27019E9F4F5E2CD840D2C2D3C1DACB0">Biological Sciences<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="7CDB11B8EAF58BCA4265F0D154EEC7AA">Biomedical Engineering<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="CBFC0E166A9458614949AFFC9097B0D1">Bridges to Baccalaureate Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="76B245793C36542B052AF480239C4694">Business Affairs<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="B61DBE16C018223DDE83A8AF4FF4753A">Business Affairs, Office of the Associate Vice President<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="465AA82FD3659EE481625468705EFDD0">CCPA Dean's Office<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="30A8CD40A7D9BB44BD2D7BBD968635E2">CCPA Human Development<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="7DED6485187FF88E887ADA53028E062C">CCPA Public Administration<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="1466CBB00A07F568DB44402E8BD7AE16">CCPA Social Work<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="EF24C7FD92909DDC634026B5CF5C2631">CCPA Student Affairs Administration<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="74D042F69C9A14A8762CC7A17561CB14">CPA PhD Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="8A7F481157C2BBF76BD00E18E39B591F">Campus Activities<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="965429D40512B74E4E8652BBBB4B9923">Campus Mail Services<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="0BAD36FE6A44164487ED18D4F0EE5931">Campus Pre-School and Early Childhood Center<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="6490E94B26A0CD715B6DBBDDF0E0C5AE">Campus Recreational Services<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="7B10A759B8A2538474B35A49EB4E58F3">Case Management Services<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="D974373A5352C2DD693939716FD8F442">Center for Autonomous Solar Power (CASP)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="BF02C39A27FA1895B41509C24EA62945">Center for Civic Engagement<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="F8D30F3D5C6BA458423B175F867455EA">Center for Korean Studies<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="68A36FD667A502BFC858D370C0B864D0">Center for Learning and Teaching<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="56FE174B2DF2D577A70C1119D7543755">Center for Medieval and Renaissance Studies<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="6B39CDEE501D69ABD93752226066BC85">Chemistry<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="DE63C734AE68D6C2C5028391D7847F4D">Cinema<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="99AE6D3DE96F3A0EA432F2B06DDE5ACF">Civil Service Employees Association<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="41CD588C6DBF3F6C22ED42D7347DB2A0">Classical and Near Eastern Studies<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="24B547E36B377EF836CC74C54A890436">Clinical Campus<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="992FEA185A5DE69A244AA4C1B6BDC5BE">Commencement<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="07A02D8A19BD81E8F8B10B691AB9BF58">Communications and Marketing<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="832CCB7295FC128B2B3C08210B26C17E">Comparative Literature<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C421F1A8B8AA64E1010B035011275C19">Computer Science<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="10DA392EDA9996BF40FB1E17E5D5C5B3">Conference and Event Services<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="94D254C07DFF23A8CCB6309FDCCB430D">Confucius Institute of Chinese Opera<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="421534EA7A1C7419C4EEC84DBFE2CD42">Copy Center<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="D65E1B58CA8EEA8486FFF8B59811658C">Counseling Center<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="43CCE6D1104EDBE85D8315FA30A01EBA">Course Building and Academic Space Management, Office of<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="3B83E4D0BF6026D13E9F1A8FEDFEBE33">Custom Publishing<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="31C1BA3BCBF1CDB3F996FEF07004A4D0">Decker School of Nursing (DSON)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="CC236F0B7C0DA31D2E1EA1298A96B78E">Decker Student Health Services Center<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="1B68357F7AFF94E9D5351B539DE6D120">Department of Art and Design<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="CE4241D388E9A4E65E6F43EB193C4BFC">Department of Asian and Asian American Studies<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="A5088D93EED34988AC77FE9C324A028C">Development, Office of<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="0D28F6C99C14AFC82DB9CEAA88425ED9">Disabilities, Services for Students with<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C56B99FDF93395213B474FAD1D7BF815">Discovery Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="58D0D2AE3342D985DCA124311F1354BE">Diversity, Equity and Inclusion, Division of<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="7F5B857BBB6905062C9FF755A1C0D5DB">Division of Operations, Office of the Vice President for<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C51C2167A3C217149ADF988054D2B1EC">Division of Research<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="9FDE03EDD7E91959C9400983153D8567">Dual Career Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="2ED8BBFBD421B72E95054AF92B9C70FD">Dual-Diploma Programs<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="2296850C91B80AAA7513DB5FCBC569E1">ESCAPE Student Bus Service<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="8885AD72826589DC37A4574EAAF3917E">Economic Development<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="2F79ADA8A829D3CCC4F6E5F892C37145">Economics<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="1821122FE538BCECCE7E86768C68AA8C">Educational Communications Center<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="3B34356EB7B36912432E4D03FCCA2A01">Educational Opportunity Program (EOP) Michael V. Boyd Center<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="8FEEC26FDFCA78B9CB3005136B7C1F63">Educational Talent Search Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="3F70EC86BD014D5B1551E88C1A4EE81C">Electrical and Computer Engineering<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="38243ADFF6A54D944EE6F4360EDC520C">Emerging Leaders Program (see also New Student Programs)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="4FF6C6FC905735EEA22BFBE53748A4BD">Employee Assistance Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="681932A351F32F103D2708B8DC63F2F8">EngiNet Distance-Education Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="45656441ED0CBB30EB6BFD91B24C8AEC">Engineering Design Division (EDD)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="4A0CB70F6EA127067A50C0D72BA614C7">English as Second Language (ESL) Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="6E9037ADFB18FB128A201DDDF4151EDB">English, General Literature and Rhetoric<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="9F9EF51647C2217917F65C28C5E2E324">Enrollment Management<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="548B70F9844532D54D797E1AAE435E59">Entrepreneurship and Innovation Partnerships<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="DA13665D9D1873B9BAC88CC328FE1080">Environmental Health and Safety<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="F1FDBF57ACBEBE3E8BCDFA82FDE1F62B">Environmental Studies Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="FE3A8524E25CDC6D0D4C925D76E57BAF">Events Center<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="0EECAB8A504AE63C010CE9ACB6D9A0AF">Evolutionary Studies Program (EvoS)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="347FC32D4EC635C9F52035CA9DE08DEC">External Scholarships, Fellowships and Awards,  Office of<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C9455D07BBBE1581341DB448581B91EF">Faculty Senate<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="228DC1D91559B6F87366D448C028B9B7">Fernand Braudel Center<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="4AD9E89AD8F2B7C66BE2135813AD202D">Financial Aid and Student Records<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="D5DEB8B88118EF1FAB9B265405E08484">Fleishman Center for Career and Professional Development<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="BB5735F6FD180C8406594D8D27323306">Fraternity and Sorority Life<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="205D1E176DA84B0A629ADC84FF12CA4E">Freshman Research Immersion Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="CCEC73AD166F818927B456E26CD067D9">GIS Campus Core Facility<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="F2914928664412E7957B4951AD03EAE9">Geography<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="26D55B67A3719243AC6AEF9AF48E66A5">Geological Sciences and Environmental Studies<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="457896A236994788A77FED9B9F9A7031">German and Russian Studies<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="30CB129016A4FA54B874BFC9DA416B9A">Global Studies<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="E98D7D1B55E605C419995AEF0D481C87">Graduate School<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="AA0E07305E5DB414D5AC0E4A885601D4">Graduate School of Education (GSE)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="E2CD7086D53776B3B3EA6C982A1E1C12">Graduate School of Education (GSE) Dean's Office<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="3FE728F12B7DE1384A63E7F79059D74C">Graduate Student Organization<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="05D07B2212B9B6C724317E337D63F767">Harpur Academic Advising Office<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="CF99A100A0DDF35BDDDA0730A7E856C7">Harpur College of Arts and Sciences<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="A80472615FB4A3B00D2132AA000FBAFA">Harpur's Ferry Student Volunteer Ambulance Service, Ltd.<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="FE8AD42E1F31FD7E0641D151EC70C86D">Health and Wellness Studies<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C17D0393E52634FD774D722D41920E33">Historical Study of Women and Gender, Center<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="5B6AF0CBDA175F432FAF62E0EC01E006">History<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="464F5AB95492CC08CDB79C7B81B253A6">Human Resources<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="10991977910AA31E329BAD5F53E65FAD">Human Subjects Research Review Committee (HSRRC)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="9D7C5164EFFD5EE6AF86D61E1CE09055">IPPHC<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="FC348FF7EEAA9383858E00D3B7108D60">Industrial Outreach and Strategic Partnership for Indust Resurgenc<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="A15A3544850FE45D1F02AC8A3B0E5D1F">Information Technology Services<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="47BD009AC8BF78D477B79AA5BF60D5AB">Institute for Asia and Asian Diasporas<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="46CFACA75E3DC507331FFFBE0BE09CF8">Institute for Child Development<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="7E457EF60D99BCF055804DC56F361E87">Institute for Materials Research<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="0B35592A77DC8E626305C45BC4960C9D">Institute for Multigenerational Studies<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="E9C5B201DE73EC44FABFBAC81863C2AE">Institute of Biomedical Technology<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="616BCD44B85ED606A6B6A3ECCE611160">Institutional Research and Assessment, Office<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="15902C76755AEF0126ABFF138F1A6FF5">Integrated Electronics Engineering Center (IEEC)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="6555EADFDCC34FFB9C982B675ECCC572">Integrative Neuroscience<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="BE3C2D790C95FDE90F4B2E3C52643355">Intercollegiate Athletics<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="3C7D64867E92B7EA930E00313E6BC419">Internal Control<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="F6C9FD96A0B74E9FB6D2120F6D4A596D">International Education and Global Affairs<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="E61DA082CE8910626FB56152309598F4">International Programs, Office of<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="E30DB2CD1756B5A746731D4DCEEE2FD6">International Student and Scholar Services<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="FDBB7964929B0B037F1CE8C442DE4FD2">Jewish Learning Initiative On Campus-Orthodox Union<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="39F967C130FDA03593F2553AF983F885">Jewish Student Union - Hillel<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="4DCA5F43F05D219CBD477850107A64C0">Judaic Studies<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C222A6DEBA0EF16776CC093F043FE0CB">Laboratory Animal Resources<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="146A06742BD16BD0811CA67DA05F46EB">Languages Across the Curriculum<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="B7E97762C6757A5A3C52D93E18D2CCF2">Latin American and Caribbean Area Studies Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="6B76EF4E48E0BCABB34B0E82AC25889E">Leadership Studies, Center for (CLS)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C81BAD040877B29337B07B8AD0773B6C">Lesbian and Gay Family Building Project<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="5C698C23D70C0932D47444091683551A">Liberty Partnership  Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="854B942982C3C5BE8C57DAE28E0FCDBF">Libraries<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="5001F3B4BFDE360702547B1398F4EDC7">Linguistics Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="5B830450E3A51C09612BB73001B6968D">Louis Stokes Alliance for Minority Participation (LSAMP) <br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="1848F9648487090B56E05E4D923F9024">M and T Bank<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="418A6D9C338C0958B79A88A0DCC1801D">Materials Science and Engineering<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="8006CFE4055DD26C9B26A6E598233835">Mathematical Sciences<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="846817363DBD550FA1C4A8F0ADAA693B">McNair Scholars Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="6A610D44D59F65F66C10B533FA5FE654">Mechanical Engineering<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="826E5D41673DCB1748F1DE83787D15AF">Middle East and North African Studies<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="ADBB4E5951B9F11E3E711D76707460B7">Multicultural Resource Center<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="64226A43FE5EF1F4EB63DBF06E1AA62C">Music<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="7C50B412251F8718F4524F02E8800C99">NYS Trade Adjustment Assistance Center<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="2E888AEEA2BD7CBEBEE6959FAF4910C5">New Student Programs<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="1EB29801EEFF3BFD456331D99B555FC0">Newman House<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C89AF0FF34A03ABC664F3AC1565133BF">NorthEast Center for Chemical Energy Storage (NECCES)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C6B391A88A9CBEE4042F090C848D5BD8">Notaries Public<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="3D7D2A1E0F8F66360991D016F56D862E">Off Campus College Transport<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="87BB401BC14DC39222A9F5710F568A96">Off Campus Services and Programs (OCC)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="817A8A72BA7379571FC9CFAFE964C33A">Office of Alumni Engagement<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="7F0047DDAC362BE9E79CEA8C8D274C3C">Office of Dean of Students<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="122D04E78F4F1D6C163E17F1123E9846">Office of Student Conduct<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="07A02D8A19BD81E8F8B10B691AB9BF58">Office of University Communications and Marketing<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="7BB1F78636508CDCBE762014882E4693">Ombudsman, Office of the University<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="E702BF335DD828E5F8D2A6F566D7083C">Parent and Family Programs<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="0BB3F6ABA7B1B0563073003C60D79BFB">Parking Services<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C66654F127C7FC7D5B20D8816BAAEDDD">Past 2 Future Project (P2F)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="90F258A2F5A4AF7D9F07F7FDAD4D8517">Philosophy<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="6CCAE21EFC911482A7C98716ACAA1402">Philosophy, Politics and Law Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="5BF5A493346AB29170AC8DBFB4BA5499">Physical Facilities<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="0FC7475EBB73F05E574D47266EAAD6CF">Physics, Applied Physics and Astronomy<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="BC5D8904E217B816E039B08F2BFEA28A">Pipe Dream (Student Newspaper)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="3A2CE4B5D57D99997BEF025E0BEEFD79">Political Science<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="83BAD27B4B8CFD0AB1C2F5FD0379D9F5">President, Office of the<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="A692A38CDD13DABD4E8626CFA49CD677">Promise Zone<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="A6E005BC51AE93A040D2297F76DA834F">Property Control<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C57E19C4C21747E172B73B6B4E5864F6">Psychology<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="142B35C2CE5CE9B21BF945CBEDC922BF">Public Archaeology Facility<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="2AEDBA6DC3CB69793C423073FCD27178">Public Speaking Skills Lab (see also New Student Programs)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="EF4810AB3A5A09C26787B9206C066A69">Purchasing<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="BBCE02366ACD602EE10460BFAD4EBFF6">RF Human Resources and Payroll<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="DA515630EF4D00291C2E1D303ADE7651">ROTC<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="2B4F6112B7818E72AE2EE1991F53031A">Radiation Safety Officer<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="B1D766C9935B01580BCC6E3C53BBF2B3">Religious Organizations Advisers<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="CE848D5D0170179E37B194782D821022">Research Advancement, Office of<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="8A053297D7FBDED1DE0A42D37F59837A">Research, Office of the Associate Vice President<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="2DC19F17A65D29FED6656B7A103BB910">Research, Office of the Vice President for<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C71E7D3E6B98F23C46AC2DDA29A5BA64">Residential Life<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="4CAAD1A5FD609ACC5F7037386CBE60B0">Risk Management and Administrative Compliance<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="4236B96879EB4AB4A2EE236A77EDCE86">Rohr Chabad Center for Jewish Student Life<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="622E74665296F7351624DAC935516D10">Romance Languages and Literatures<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="1DAF425FD6DEA7DBA52565554415621B">School of Management<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="F69B072E516DBD61AA8ADC66C2E85B85">School of Management Academic Advising Office<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="801CACBFB80773B1CD7D27E454D502A0">School of Pharmacy and Pharmaceutical Sciences<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="A2079CA0F88A22CB7D5B0DAFBB733170">Science Stores<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="66303BB44760264F0C902162913DED1E">Science and Technology Entry Program (STEP)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="E283CE2E0F432860343F9BB362BF8300">Small Business Development Center<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="CCBAF39DD54BAE6526B1C4C9CC3B19DF">Small Scale Systems Integration and Packaging<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="1F99D0FBB8B0E054A90C32FF0E70F7BD">Sociology<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="E77A61B4206172D76F71CAD416F88348">Sodexo Campus Services<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="809315122A23843DF3AF39F3D6E48BF9">Sponsored Funds Administration<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="B26DBF2E3D9A371B74C6852F315E5784">Sponsored Programs, Office of<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="E61EB2CC6BF44AF53D10513CFD6D401A">Student Accounts Office<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="285A462E839C70E92E0A94BB0C7E9BD5">Student Affairs Assessment and Strategic Initiatives<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="17B98E62E13DE028D3E1352EDD61C1F5">Student Affairs, Office of the Vice President for<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="3DF08011CCF55C8EBF91E26AA07A5AB3">Student Association<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="D7F2A31C36F39E82F8A2F3A6DDC461F5">Student Records<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="CA502B75A436EAD0C058CE4AF0EA53BC">Systems Science and Industrial Engineering<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="7534C819E78F295A9A67A32C15636EC6">TRIO Programs<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="17872A92428398E7A30512A8CD08D0B0">Teacher/Leader Quality Partnership Program<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="FE2A31E6BC8CB6D315A092574F0B9DEF">Telecommunications<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="CDEDF1F6C8F4614932653F44FFDA1B13">The Institute for Advanced Studies in the Humanities (IASH)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="D0100D8E57FF1D64851225EEE838D787">Theatre<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="019FCFE26F9D9EE5C573DB2CAF19E01E">Thomas J. Watson School of Engineering and Applied Science<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="1A66E29E030EB102F2CDB0DE91FC2A23">Transfer Articulation Initiatives, Office of<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="AE5E50AC6202A8B5A3F2CAE552A3636B">Transfer and Veteran Services<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="BDEC488910C4D0EFBC0C8DC3AFCF028B">Translation Research and Instructional Program (TRIP)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="C854848C02BA7FAA0CD44410F989D53B">Undergraduate Admissions<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="7DBE0BE70168FA387C107DB4E37AEAC7">Undergraduate Research Center<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="6D1ADCF6E25AB32A4AD60A3DED93377D">United University Professions (UUP)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="D30F31F557EAEB2BD2046F0133BCB1C3">University Bookstore<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="07D688D75AC242054A3EC86BE5C6EBC1">University Center for Training and Development<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="2E6FC9D790B3564A6222C97D035F9F86">University Police<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="EBA817933F99511DA395D21761ADA123">University Tutoring Services<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="D1EB6C379E3FB74DBF87B5DED0586405">University Union Office<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="4C709D4CFD8B130C2EC688B84AC6C862">Watson Institute for Systems Excellence (WISE)<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="E4A1FC0CDEF655D3648F54F2E5E5E722">Women, Gender and Sexuality Studies<br>
        <input type="radio" ng-change="change()" ng-model = "selectedDepartment" value="88618B99F0BF7360A3BB33B47878C2C1">Writing Initiative<br>
</div>
<br/> 
<div class="record" ng-repeat="employee in employees">
		        <h3>{{employee.FirstName}} {{employee.LastName}}</strong></h3>
		        <em>{{employee.Title}}</em><br/>
		        {{employee.DirectoryNumber}}<br/>
		        {{employee.Email}}<br/>
		        <a href="#/maps/{{employee.BuildingID}}">{{employee.Location}}</a>
</div> 

<!-- <h2>{{selectedBuilding}}</h2> -->

<!-- <ul >
	<li ng-repeat="letter in alpha"  style="display:inline-block; width: 1.75em"><a ng-click="scrollTo('H')">{{letter}}</li>
</ul>
      <article ng-repeat="person in people" >
        <a href="#/details/{{people.indexOf(person)}}"><h3>{{person.name}}</h3></a>
        <ul>
			<li><h4>{{person.title}}</h4></li>
			<li><a href="mailto:{{person.email}}">{{person.email}}</a></li>
			<li>{{person.phone}}</li>
			<li><em>{{person.departments}}</em></li>
		</ul>
      </article>
      <h4 id="H">H</h4> -->


</div>		      