
<span class="buildingsColor"> Search Buildings</span>
<span class="parkingColor">Search Parking</span>
<select ng-model = "selectedBuilding" ng-change="change()" placeholder="Select Building">
<option ng-repeat="building in buildings" value = '{{building.properties.abbr}}' >
{{building.properties.name}}
</option>
</select>
<br/>
<br/>

<div class="maps">
  <leaflet class="leaflet"  markers="markers" center="center" layers="layers"><layercontrol order="normal" icons="layercontrol.icons" auto-hide-opacity="true" show-groups="true"
            title="Layer Manager" base-title="Base Layers" overlays-title="Overlays Layers"></layercontrol></leaflet>
<h3>{{name}}</h3>
{{description}}
</div>


   
    	


